body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 150px;
}

table {
  background-color: white;
  text-align: center;
  border-collapse: collapse;
}

td {
  width: 40px;
  height: 40px;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black !important;
}

.amarillo, .yellow {
  background-color: yellow;
  border: 1px solid black !important;
}

.verde, .green {
  background-color: green;
  border: 1px solid black !important;
}

.azul, .blue {
  background-color: blue;
  border: 1px solid black !important;
}

.rojo, .red {
  background-color: red;
  border: 1px solid black !important;
}

#vacio {
  background-color: black;
  border: 1px solid black !important;
}

img {
  width: 200px;
  height: 200px;
}

.dice-container {
  margin-top: 20px;
}

.start-button {
  background-color: #3498db; /* Azul claro */
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Espacio debajo del botón */
  margin-right: 20px;
}

.start-button:hover {
  background-color: #2980b9; /* Azul un poco más oscuro en hover */
  transform: translateY(-2px); /* Efecto de elevación en hover */
}

.start-button:active {
  background-color: #1c6ea4; /* Azul más oscuro cuando se presiona */
  transform: translateY(1px); /* Efecto de presionado */
}

.start-button:focus {
  outline: none; /* Elimina el borde por defecto cuando se enfoca */
  box-shadow: 0px 0px 10px rgba(52, 152, 219, 0.5); /* Sombra azul cuando se enfoca */
}
